html {
  height: 100%;
  width: 100%;
}
.button{
  width: 66px;
  padding:20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius:9px;
  cursor:pointer;
  color:yellow;
  background-color:#36454f ;
}
.row{
  margin: 6px 0;
}
.row input{
  width:240px;
  margin: 0;
  padding:9px 38px;
  border: 2px solid orange;
  border-radius: 9px;
}
